<div class="row">
  <div class="col-sm-12">
    <p>Add new Servers or blueprints!</p>
    <label for="serverName">Server Name</label>
    <!-- <input type="text" id="serverName" class="form-control" placeholder="Enter Server Name" [(ngModel)]="newServerName">
    CHANGED BY LOCAL REFERENCE-->
    <input type="text" id="serverName" class="form-control" placeholder="Enter Server Name" #serverInput>
    <label for="serverContent">Server Content</label>
    <!-- <input type="text" class="form-control" placeholder="Enter a Contente" [(ngModel)]="newServerContent">
    CHANGED BY LOCAL REFERENCE USING VIEW CHILD-->
    <input type="text" id="serverContent" class="form-control" placeholder="Ententer a Content" #contentInput>
    <br>
    <!--GETTING THE NAME BY REFERENCE-->
    <button
      class="btn btn-primary btn-margin"
      (click)="onAddServer(serverInput)">Add Server</button>
    <button
      class="btn btn-primary btn-margin"
      (click)="onAddBlueprint(serverInput)">Add Server Blueprint</button>
  </div>
</div>

