<div class="card">
  <div class="card-header">{{element.name}}</div>
  <div class="card-body">
    <div class="card-text">
      <!-- <p>
        <strong *ngIf="element.type === 'server'" style="color: red">{{element.content}}</strong>
        <em *ngIf="element.type === 'blueprint'">{{element.content}}</em>
      </p>
        CHANGED BY NG-CONTENT IN ABOVE-->
        <ng-content></ng-content>
    </div>
  </div>
</div>
