<div class="container-fluid">
  <app-cockpit (serverCreated)="onServerCreated($event)" (bpCreated)="onBluePrintCreated($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
